@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './sass/colors';

:root {
	@include colors;
}

.dark-theme-variables {
	--color-background: #181a1e;
	--color-white: #202528;
	--color-dark: #edeffd;
	--color-dark-variant: #a3bdcc;
	--color-light: rgba(0, 0, 0, 0.4);
}

body {
	background-color: var(--color-background);
	font-family: 'Poppins', sans-serif;
	font-size: 62.5%; /* 1rem = 10px */
}

input {
	border: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}
